body {
    margin: 10px;
}

body > #description {
    display: none;
}

header {
    margin-bottom: .67em;
}

header h1 {
    display: inline;
    margin-right: 10px;
}

#description {
    width: 40em;
    font-size: larger;
    margin-bottom: 2em;
}

#description img {
    display: block;
    margin: 10px;
}

svg#species_graph {
    width: 600px;
    height: 600px;
}

#browser {
    position: relative;
}

#plots {
    position: absolute;
    top: 0;
    left: 600px;
}

dfn {
    font-style: normal;
    font-weight: bold;
}

text {
    text-anchor: middle;
}

#species_graph circle {
    r: 10px;
    stroke: #000;
}

#species_graph line {
    stroke: #000;
}

.core, .core path {
    color: lightgreen;
    fill: lightgreen;
    stroke: lightgreen;
}

.periphery, .periphery path {
    color: orange;
    fill: orange;
    stroke: orange;
}

.background {
    color: #eee;
    fill: #eee;
    stroke: #eee;
}

path {
    stroke: black;
    stroke-width: 1px;
    /* fill: none; TODO?*/
}

.plot_vline {
    /* fill: none; TODO?*/
    stroke: steelblue;
}


input[type="number"] {
    text-align: right;
   -moz-appearance: textfield;
    margin-right: 5px;
    padding-right: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#parameters table {
    border: none;
    border-collapse: collapse;
}

#parameters input[type="number"] {
    width: 6em;
}

#parameters input[type="submit"] {
    margin-top: 10px;
}

#controls input[type="number"] {
    width: 4em;
}

input[readonly] {
    background-color: #eee;
}

#controls span, #controls input[type="range"] {
    margin-right: 10px;
}

ul#sources {
    list-style-type: none;
    padding: 0;
}

